body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.tarea{
    border: 2px solid black;
    border-radius: 7px;
    padding: 12px;
    
}
.lista{
    margin-left: 10px;
}